COMPANY_NAME="Vercel Inc."
TWITTER_CREATOR="@vercel"
TWITTER_SITE="https://nextjs.org/commerce"
SITE_NAME="Next.js Commerce"
TEBEX_PRIVATE_API_KEY=""
TEBEX_PUBLIC_API_KEY=""
HOMEPAGE_THREE_ITEM_GRID_CATEGORY=""
BASE_URL=""